.welcome {
  text-align: center;
  color: white;
}
#mainpage {
  background-image: url("https://wallpaperaccess.com/full/84291.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#contactpage {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  color: black;
}

.main_header {
  font-size: 60px;
  margin: 0px;
  text-transform: capitalize;
  font-family: 'Indie Flower', cursive;
}
@keyframes bob {
  0%   {background-color:red;
  }
  25%  {background-color:gold;
  }
  50%  {background-color:blue;
  }
  75%  {background-color:green;
  }
  100% {background-color:red;}

}
.btn_login {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  animation-name: bob;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/* .btn_login:hover {
  background-color: gold;
} */
.sub_header {
  font-family: 'Indie Flower', cursive;
}
.container {
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}

#box_1 {
  width: 200px;
  margin-right: 500px;
  margin-top: 300px;
}
#box_2 {
  width: 200px;
  margin-top: 300px;
}
#bullets {
  color: white

}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li {
  list-style-type: none;
  float: left;
}
li a {
  padding: 10px;
}
#contactheader {
  font-family: 'Indie Flower', cursive;
  text-align:center;
}
