<!-- This confirms with the user that all the information on the page is correct -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Confirmation Page</title>
 </head>
   <body>
     <h1>Congrats! You made it to the confirmation page!</h1>
     <h2>Please confirm if all the information down below is correct</h2>
     <table>
        <tr>
          <th>Event Name</th>
          <th>Event description</th>
          <th>Invites</th>
          <th>Place</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
        {% for invite in invites %}
        <tr>
          <td>{{invite.email}}</td>
        </tr>
        {% endfor %}
        </tr>
        {% for event in events %}
        <tr>
          <td>{{event.title}}</td>
          <td>{{event.description}}</td>
          <td>{{event.location}}</td>
          <td>{{event.startTime}}</td>
          <td>{{event.endTime}}</td>
        </tr>
        {% endfor %}
      </table>
   </body>
</html>
