<!-- This page is for choosing what day everyone will hang out -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <title>Event Details</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="day_page">

    <div id="day_page_conatiner">

    <h1>Selected Emails</h1>

    {% for name in invites %}
    <p>{{name.email}}</p>
    {% endfor %}
    <h2>Availability</h2>
    <form  method="get" action="/day">
      Choose a Date: <input type="text" name="event_key" value="{{event_key}}" hidden>
      <input type= "date" name="eventDate" value="{{date}}">
      <input type="submit" name="" value="Submit">
    </form>
    {% for a in availability %}
      <tr>
        <td>{{a.email}}:</td>
        <td>{{a.times}}</td>
      </tr>
    {% endfor %}
      <h2>Enter in some info about your hangout!</h2>
    <form class="form-style-4" method="post">

      <label for="title">Title:</label>
         <input type="text" name="event_title" value="" id="title" required>
         <br>
      <label for="description">Description:</label>
         <input type="text" name="event_des" value="" id="description" required>
         <br>
      <label for="place">Place:</label>
         <input type="text" name="event_place" value="" id="place" required>
         <br>
      <label for="date">Date:</label>
         <input type="date" name="event_date" value="" id="date" required>
         <br>
      <label for="start_time">Start Time:</label>
         <input type="time" name="event_start" value="" id="start_time" required>
         <br>
      <label for="end_time">End Time: </label>
        <input type="time" name="event_end" value="" id="end_time" required>
        <br>
      <input type="submit" name="" value="Submit">
    </form>

    </table>
</div>
  </body>
</html>
