<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
   <form method="get">
      <select name="timeRangeCheck_selection">
        <option value="this_week">This week</option>
        <option value="next_weeks">Next week</option>
        <option value="in_three_weeks">In 3 weeks</option>
        <option value="within_one_month">Within 1 month</option>
      </select>
      <input type="submit" name="" value="Filter">
    </form>
 </body>
</html>
