<!DOCTYPE html>
<html>
  <head>
    <title></title>
   <link rel="stylesheet" href="/css/style.css">
   <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="welcome">

    <h1 class = "main_header">Welcome to PlanIt</h1>
    {% if user %}
    <h1>Hello {{user.email()}}</h1>
    <button class="btn_login"><a href="{{logout_url}}">Logout</a></button>
    {% else %}
    <h2 class = "sub_header">Please Login Below</h2>
    <button class="btn_login"><a href="{{login_url}}">Login</a></button>

    <div class="container">
      <div id="box_1">
        <h1>About</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div id="box_2">
        <h1>Why PlanIt</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>

    </div>
    {% endif %}
    </div>

    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/invite" style="color: white;">Invite</a></li>
      <li><a href="/planning">Planning</a></li>
    </ul>


  </body>
</html>
