<!DOCTYPE html>
<html>
  <head>
    <title></title>
   <link rel="stylesheet" href="/css/style.css">
   <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="welcome">

    <h1 class = "main_header"> Welcome to PlanIt </h1>
    {% if user %}
    <h1>Hello {{user.email()}}</h1>
    <button class="btn_login"><a href="{{logout_url}}">Logout</a></button>
    {% else %}
    <h1>No user!</h1>
    <button class="btn_login"><a href="{{logout_url}}">Login</a></button>
    {% endif %}
      </div>
  </body>
</html>
