<!-- This page is the beginning of who the user wants to invite -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>New Event</title>
   <h1>Okay! Who would you like to invite?</h1>
     <form method="post">
       <div>
         Enter: <input type="text" name="email" value="">
       </div>
       <input type="submit" name="" value="Invite">
     </form>
     <p>
       <form action="/day">
        <input type="submit" name="" value = "continue"</input>
       </form>
     </p>

 </head>
 <body>
 </body>
</html>
