<!-- This page is the beginning of who the user wants to invite -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>New Event</title>
   <h1>Add Event: Who would you like to invite?</h1>
     <form method="post">
       <div>
         Enter: <input type="email" name="email" value="">
       </div>
        <input type="submit" name="" value="Invite">
      <p>
        <button><a href="http://localhost:8080/day?event_key={{event_key}}">Continue</a></button>
     </p>
     <h1>Current Invites</h1>
      <form class="" action="/delete_invites" method="post">
        <table>
          <tr>
            <th>Email</th>
            <th>Delete?</th>
          </tr>
          {% for invite in invites %}
          <tr>
            <td>{{invite.email}}</td>
            <td><input type="checkbox" name="to_delete" value="{{invite.key.urlsafe()}}"></td>
          </tr>
            {% endfor %}
        </table>
          <input type="submit" name="" value="Delete Selected">
        </form>

      </head>
    <body>
 </body>
</html>
