<!-- This page allows the user to enter information about the hang out -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Event Details</title>
 </head>
  <body>
    <h1>Great! Your day is July 22 2019!</h1>
    <p>
      <h2>Enter in some info about your hangout!</h2>
    </p>
    <form method="post">
      <div>
        Title: <input type="text" name="event_title" value="">
      </div>
      <div>
        Description: <input type="text" name="event_des" value="">
      </div>
      <div>
        Place: <input type="text" name="event_place" value="">
      </div>
      <div>
        Start Time: <input type="text" name="event_start" value="">
      </div>
      <div>
        End Time: <input type="text" name="event_end" value="">
      </div>
      <input type="text" name="emails" value=""
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
